absl-py
astunparse
blinker
cachetools
certifi
charset-normalizer
click
colorama
Flask
flatbuffers
gast
google-auth
google-auth-oauthlib
google-pasta
grpcio
gunicorn
h5py
idna
itsdangerous
jax
Jinja2
keras
libclang
Markdown
MarkupSafe
ml-dtypes
numpy
oauthlib
opencv-python
opt-einsum
packaging
protobuf
pyasn1
pyasn1-modules
requests
requests-oauthlib
rsa
scipy
six
tensorboard
tensorboard-data-server
tensorflow
tensorflow-estimator
tensorflow-intel
tensorflow-io-gcs-filesystem
termcolor
typing_extensions
urllib3
Werkzeug
wrapt
