@import "../../App.css";

.parent {
    position: relative;
    margin: 0;
    padding: 0;
    height: fit-content;
    min-height:100vh;
    width: 100%;
    position: relative;
    overflow-x: hidden; /* Ensure child content doesn't extend outside */
  
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: url("../icons/mainBG.svg");
      background-size: cover;
      background-repeat: no-repeat;
      
      opacity: 0.95; /* Adjust the opacity as needed */
    }
    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 20px; /* Adjust the height of the blur effect */
      background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.95));
      pointer-events: none; /* Allow clicks to pass through the overlay */
      z-index: 1; /* Adjust the z-index as needed */
  }
    @media (max-height: 650px) {
      height: 130vh;
    }
}

