@import "../../App.css";
// @import "../../Components/login.scss";

$myCustomTextStyles: (
  font-family: 'poppins',
  font-size: 1.1em,
  font-weight: 600,
//   line-height: 44px,
  letter-spacing: 0,
);



@mixin applyCustomTextStyles {
  @each $property, $value in $myCustomTextStyles {
    #{$property}: $value;
  }
}


.par-container {
  display: flex;
  flex-direction: row;
  padding:1.5rem 1rem ;
   height:80vh;
  overflow:hidden;

  &__upload-section{
    flex:7;
    // width:65%;
    padding:0.5rem;
    padding-left:4rem;
    &__heading{
        margin-top:5%;
        color: #000;
        text-align: left;
        font-family: Montserrat;
        font-size: 1.6em;
        font-style: normal;
        font-weight: 600;
        
    }
    >.image-upload{
        display: flex;
        justify-content: center;
        text-align: center;
        height:40%;
        min-height: fit-content;
        width:100%;
        // width:100%;
        flex-shrink: 0;
        padding:1rem 2rem 1rem 2rem;
        border-radius: 4px;
        border: 1px dashed #088586;
        background: rgba(255, 255, 255, 0.05);
        
        >.upload-container{
            display: flex;
            justify-content: center;
            margin-top:8%;
            font-family: poppins;
            font-weight: 600;
            >.upload-box{
              min-height: 50vh;

                >.img-icon{
                  justify-content: center;
                }
                 >p{

                     >.input-btn{
                         cursor:pointer;
                         background: transparent;
                         border:none;
                         text-decoration: underline;
                         color: var(--Accent-Color, #088586);
                         font-family: Montserrat;
                         font-size: 1em;
                         font-style: normal;
                         font-weight: 600;
                         line-height: 24px;
                         text-decoration-line: underline;
                     }
                 }
            }
        }
    }
   
       .generate-btn{
         @include applyCustomTextStyles;
            background: #04736f;
            padding:1rem;
            text-align: center ;
            border:none;
            // border-radius:10px;
            margin-top:1rem;
            color:white;
            width: 111%;
            //width: 100%
            cursor:pointer;
            border-radius: 4px;
            background: var(--Accent-Color, #088586);
            color: #FFF;
            font-family: Montserrat;
            font-size: 1em;
            font-style: normal;
            font-weight: 700;
            line-height: 18px; /* 105.882% */
            text-transform: uppercase;
             
          }
          .generate-btn:hover{
            background-color: #04736f;
          }
          .gen-inactive{
            opacity:0.4;
          }
    
          >.progress-tracker{
            
            >.progress-bar{
              width: 107%;
              margin-top:-10px;
              padding: 10px;
              padding-bottom:0px;
              border-radius: 4px;
              border: 0.5px solid #000;
              background: #FFF;
            }
        >.upload{
          color: #000;
          text-align: left;
          font-family: Montserrat;
          font-size: 1.2em;
          font-style: normal;
          font-weight: 600;
          line-height: normal;
        }
    }
    
}
&__img-section {
  flex:3;
   padding:0;
   
    height:100%;
    // width:60% !important;
    
    >.img-vector{
        transform: scale(0.75);
        margin-top: -5rem;
        margin-left:5%;
        align-items: end;

      }
}


}

